h1.ui.dividing.header Статистика
.ui.celled.horizontal.list.link
  .item class="#{'active' unless params[:period]}"= link_to 'За все время', root_path
  .item class="#{'active' if params[:period] == 'week'}"= link_to 'За неделю', root_path(period: 'week')
  .item class="#{'active' if params[:period] == 'day'}"= link_to 'За сутки', root_path(period: 'day')

- @statistic.keys.each do |statistic_partial|
  h3.ui.dividing.header= t("statistic.#{statistic_partial}")
  = render partial: "statistic/#{statistic_partial}", locals: { item: @statistic[statistic_partial] }
